<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76152142579-drgqh91v35dfn13h6k1mjlpt1ips6ofh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76152142579-drgqh91v35dfn13h6k1mjlpt1ips6ofh</string>
	<key>API_KEY</key>
	<string>AIzaSyD5_DjtwhdOoQM_GQVwKx7RQpSIhidcS7g</string>
	<key>GCM_SENDER_ID</key>
	<string>76152142579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimin.study.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-61ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-61ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76152142579:ios:fc0bf63f49655fc8bfd586</string>
</dict>
</plist>